
#Caminho com o nome do banco de dados (TEM QUE SER IGUAL A DO SQLITE_CONTAINER_PATH QUANDO HÁ USO DE CONTAINER)
PATH_DATABASE_SQLITE="...db/streets.sqlite" 

SQLITE_CONTAINER_PATH="...db/" #Variavel usada somente quando há execução do container (ELE TEM QUE TER O MESMO CAMINHO AO PATH_DATABASE_SQLITE)

# Localização dos modulos (dll ou so) do spatialite (O PATH DA PASTA E NÃO DO ARQUIVO)
PATH_MOD_SPATIALITE=".../loadable-modules/" # Para linux: /usr/lib/x86_64-linux-gnu/ # Para Windows: <Localização onde você guardou os módulos> 

# Se estiver executando no windows, coloque true. Caso não: false
WINDOWS_EXECUTE=false

# Versão da Api
API_ROUTER_VERSION=v0.0.0

# Porta da api do router
API_PORT=0000

# Indicação de uso do prefixo da API(true ou false)
API_PREFIX=true

# Usuário de acesso do basic auth da api(tanto o docs quanto para requisições )
API_USER=abcd

#Senha de acesso do basic auth da api(tanto o docs quanto para requisições )
API_PASS=1234