# Localização do banco dados
PATH_DATABASE_SQLITE=".../streets.sqlite" 

# Localização dos modulos (dll ou so) do spatialite 
PATH_MOD_SPATIALITE=".../loadable-modules" 

# Versão da Api
API_ROUTER_VERSION=v0.1.0

# Indicação de uso do prefixo da API(true ou false)
API_PREFIX=true