BeautifulSoup4
pySmartDL

# BASE PROJECT
# cookiecutter-data-science
# black
# flake8
# ipython
# isort
jupyterlab
loguru
matplotlib
# mkdocs
notebook
numpy
pandas
pip
# pytest
python-dotenv
# scikit-learn
# tqdm
# typer
# -e .
